
*{
    font-family: "Segoe UI";
}
/* header*/
.header{
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
    height: 100px;
    transition: 0.5s;
    background-color: #FDE00A;
}
.header img{
    width: 100px;
    height: 70px;
}
.header h1{
    text-align: left;
    font-size: 15px;
}
.botonn{
    background: black;
    color: white;
    font-weight: bold;
    width: 110px;
    height: 50px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.boton{
    color: black;
    display: inline-block;
    font-size: 40px;
    margin-bottom: 20px;
    padding-right: 15px;
    margin-left: 70%;
    text-decoration: none;
}
.boton1{
    position: absolute;
    right: 17%;
    color: black;
    font-size: 40px;
    margin-bottom: 20px;
    padding-right: 10px;
    text-decoration: none;
}
/*body*/
.titulo{
    margin-top: 6%;
    text-align: center;
}
.abajo{
    width: auto;
    display: flex;
    text-align: center;
    margin-top: 10%;
    padding-left: 25%;
    background-color: rgb(0, 0, 0);
    
}
.abajo h1{
    color: #FDE00A;
    text-align: center;
}

.formulario{
    border: 3px solid black;
    border-radius: 15px;
    margin-left: 18%;
    margin-right: 18%;
    padding: 20px;
    font-size: 15px;
    text-align: center;
    
}
.formulario input{
    margin: 10px;
    padding: 7px;
    border-radius: 5px;
    font-size: 15px;
}
.formulario select{
    margin-right: 5%;
    margin-bottom: 15px;
    font-size: 15px;

}
.formulario legend{
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
    text-align: left;
}
.llenar{
    text-align: left;
}
.boton2{
    background: #FDE00A;
    display: inline-block;
    font-size: 1.25em;
    margin: 20px;
    padding: 10px 0px;
    text-align: center;
    width: 200px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid black;
}
.icono i{
    position: absolute;
    top:163%;
    left: 45%;
}
