*{
    font-family: "Segoe UI";
}
body{
    background-color: #FDE00A;
}
.logo{
    width: 20%;
    height: 20%;
    padding-left: 30%;
    padding-top: 40px;
}
.titulo{
    display: flex;
    margin: 20px;
}
.titulo h1{
    padding-top:50px;
    
}
.formulario{
    background-color: black;
    text-align: center;
    border: solid;
    width: 30%;
    padding: 30px;
    margin: auto;
    border-radius: 10px;
    
}
.h{
    color: white;
    text-align: center;
}
.formulario i{
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin: 0 20px;
    align-self: auto;
}

.bad {
	text-align: center;
	padding: 12px;
	background-color: #a22;
	color: #fff
}
input[type="text"],
input[type="password"]{
font-size: 20px;
width: 75%;
padding: 7px;
border:none;
text-align:initial;
}
.form{
    text-align: left;
    margin-bottom: 10px;
    margin-left: 40px;
    width: 72%;
    background-color: white;
}
.boton{
    background-color: #FDE00A;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}