
*{
    font-family: "Segoe UI";
    margin: 0;
}
/* header*/
.header{
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
    height: 100px;
    transition: 0.5s;
    background-color: #FDE00A;
}
.header img{
    width: 100px;
    height: 70px;
}
.header h1{
    text-align: left;
    font-size: 15px;
}
.botonn{
    background: black;
    color: white;
    font-weight: bold;
    width: 110px;
    height: 50px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.boton{
    color: black;
    display: inline-block;
    font-size: 40px;
    margin-bottom: 20px;
    padding-right: 15px;
    margin-left: 70%;
    text-decoration: none;
}
.boton1{
    position: absolute;
    right: 17%;
    color: black;
    font-size: 40px;
    margin-bottom: 20px;
    padding-right: 10px;
    text-decoration: none;
}
/*body*/
